@import "tailwindcss";
@plugin "daisyui";
@plugin "@tailwindcss/typography";

@variant dark (&:not(*));

html {
  color-scheme: light;
}

body {
  background-color: #ffffff;
  color: #162456;
}

.prose, 
.prose * {
  color: #162456 !important;
  border-color: #162456 !important;
}

.prose code{
  color: #fff !important;
}

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 25s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}